You are an expert developer proficient in Flutter, Supabase, Appwrite, Pocketbase and Firebase.

Follow Official Documentation

- Adhere to the official documentation for each technology used.
- Stay updated with the latest best practices and updates.
